In [1]:
train_path=r'C:\Users\Zavli\Desktop\train.csv'

In [2]:
test_path=r'C:\Users\Zavli\Desktop\test.csv'

In [3]:
train_rdd = sc.textFile(train_path)

In [4]:
test_rdd = sc.textFile(test_path)

In [5]:
train_rdd.take(5)

['PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked',
 '1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S',
 '2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C',
 '3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S',
 '4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S']

In [8]:
test_rdd.take(5)

['PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked',
 '892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,,Q',
 '893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,,S',
 '894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q',
 '895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,,S']

In [7]:
def parseTrain(rdd):

	# ekstrak data header (row satu)
    header = rdd.first()
	# remove header
    body = rdd.filter(lambda r: r!=header)

    def parseRow(row):
		# fungsi untuk Parse RDD ke DataFrame 

		# remove double quote, split teks row dengan comma
        row_list = row.replace('"','').split(",")
		# konversi python list ke tuple, yang kompetibel dengan struktur data pyspark 
        row_tuple = tuple(row_list)
        return row_tuple

    rdd_parsed = body.map(parseRow)

    colnames = header.split(",")
    colnames.insert(3,'FirstName')

    return rdd_parsed.toDF(colnames)

def parseTest(rdd):
    header = rdd.first()
    body = rdd.filter(lambda r: r!=header)

    def parseRow(row):
        row_list = row.replace('"','').split(",")
        row_tuple = tuple(row_list)
        return row_tuple

    rdd_parsed = body.map(parseRow)
    
    colnames = header.split(",")
    colnames.insert(2,'FirstName')

    return rdd_parsed.toDF(colnames)

train_df = parseTrain(train_rdd)
test_df = parseTest(test_rdd)

In [9]:
train_df.show(3)

+-----------+--------+------+---------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|FirstName|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+---------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|   Braund|     Mr. Owen Harris|  male| 22|    1|    0|       A/5 21171|   7.25|     |       S|
|          2|       1|     1|  Cumings| Mrs. John Bradle...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen|         Miss. Laina|female| 26|    0|    0|STON/O2. 3101282|  7.925|     |       S|
+-----------+--------+------+---------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

In [10]:
## Add kolom survived ke data test 
from pyspark.sql.functions import lit, col
train_df = train_df.withColumn('Mark',lit('train'))
test_df = (test_df.withColumn('Survived',lit(0))
                  .withColumn('Mark',lit('test')))
test_df = test_df[train_df.columns]
## Append data test ke data train 
df = train_df.unionAll(test_df)

In [11]:
print(df)

DataFrame[PassengerId: string, Survived: string, Pclass: string, FirstName: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string, Mark: string]

In [12]:
test_df.show()

+-----------+--------+------+------------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----+
|PassengerId|Survived|Pclass|   FirstName|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Mark|
+-----------+--------+------+------------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----+
|        892|       0|     3|       Kelly|           Mr. James|  male|34.5|    0|    0|          330911| 7.8292|     |       Q|test|
|        893|       0|     3|      Wilkes| Mrs. James (Elle...|female|  47|    1|    0|          363272|      7|     |       S|test|
|        894|       0|     2|       Myles|  Mr. Thomas Francis|  male|  62|    0|    0|          240276| 9.6875|     |       Q|test|
|        895|       0|     3|        Wirz|          Mr. Albert|  male|  27|    0|    0|          315154| 8.6625|     |       S|test|
|        896|       0|     3|    Hirvonen| Mrs. Alexander (...|female|  22|    1|    1|         3101298|12.2875|     |       S|test|
|        897|       0|     3|    Svensson|    Mr. Johan Cervin|  male|  14|    0|    0|            7538|  9.225|     |       S|test|
|        898|       0|     3|    Connolly|          Miss. Kate|female|  30|    0|    0|          330972| 7.6292|     |       Q|test|
|        899|       0|     2|    Caldwell|  Mr. Albert Francis|  male|  26|    1|    1|          248738|     29|     |       S|test|
|        900|       0|     3|     Abrahim| Mrs. Joseph (Sop...|female|  18|    0|    0|            2657| 7.2292|     |       C|test|
|        901|       0|     3|      Davies|     Mr. John Samuel|  male|  21|    2|    0|       A/4 48871|  24.15|     |       S|test|
|        902|       0|     3|      Ilieff|            Mr. Ylio|  male|    |    0|    0|          349220| 7.8958|     |       S|test|
|        903|       0|     1|       Jones| Mr. Charles Cresson|  male|  46|    0|    0|             694|     26|     |       S|test|
|        904|       0|     1|      Snyder| Mrs. John Pillsb...|female|  23|    1|    0|           21228|82.2667|  B45|       S|test|
|        905|       0|     2|      Howard|        Mr. Benjamin|  male|  63|    1|    0|           24065|     26|     |       S|test|
|        906|       0|     1|     Chaffee| Mrs. Herbert Ful...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|test|
|        907|       0|     2|   del Carlo| Mrs. Sebastiano ...|female|  24|    1|    0|   SC/PARIS 2167|27.7208|     |       C|test|
|        908|       0|     2|       Keane|          Mr. Daniel|  male|  35|    0|    0|          233734|  12.35|     |       Q|test|
|        909|       0|     3|       Assaf|          Mr. Gerios|  male|  21|    0|    0|            2692|  7.225|     |       C|test|
|        910|       0|     3|  Ilmakangas|    Miss. Ida Livija|female|  27|    1|    0|STON/O2. 3101270|  7.925|     |       S|test|
|        911|       0|     3|Assaf Khalil| Mrs. Mariana (Mi...|female|  45|    0|    0|            2696|  7.225|     |       C|test|
+-----------+--------+------+------------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----+
only showing top 20 rows

In [13]:
## Data Cleaning/Manipulation
## konversi tipe data Age, SibSp, Parch, Fare ke double
df = (df.withColumn('Age',df['Age'].cast("double"))
			.withColumn('SibSp',df['SibSp'].cast("double"))
			.withColumn('Parch',df['Parch'].cast("double"))
			.withColumn('Fare',df['Fare'].cast("double"))
			.withColumn('Survived',df['Survived'].cast("double"))
			)

df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Mark: string (nullable = false)

In [14]:
## Impute missing Age dan Fare
numVars = ['Survived','Age','SibSp','Parch','Fare']
def countNull(df,var):
	return df.where(df[var].isNull()).count()

missing = {var: countNull(df,var) for var in numVars}
age_mean = df.groupBy().mean('Age').first()[0]
fare_mean = df.groupBy().mean('Fare').first()[0]
df = df.na.fill({'Age':age_mean,'Fare':fare_mean})

In [15]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
 
## fungsi untuk mengekstrak title
getTitle = udf(lambda name: name.split('.')[0].strip(),StringType())
df = df.withColumn('Title', getTitle(df['Name']))
 
df.select('Name','Title').show(3)

+--------------------+-----+
|                Name|Title|
+--------------------+-----+
|     Mr. Owen Harris|   Mr|
| Mrs. John Bradle...|  Mrs|
|         Miss. Laina| Miss|
+--------------------+-----+
only showing top 3 rows

In [16]:
catVars = ['Pclass','Sex','Embarked','Title']
 
## index variabel Sex 
from pyspark.ml.feature import StringIndexer
si = StringIndexer(inputCol = 'Sex', outputCol = 'Sex_indexed')
df_indexed = si.fit(df).transform(df).drop('Sex').withColumnRenamed('Sex_indexed','Sex')
 
## menggunakan pipeline untuk mengindex semua kategori variabel
def indexer(df,col):
    si = StringIndexer(inputCol = col, outputCol = col+'_indexed').fit(df)
    return si
 
indexers = [indexer(df,col) for col in catVars]
 
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = indexers)
df_indexed = pipeline.fit(df).transform(df)
 
df_indexed.select('Embarked','Embarked_indexed').show(3)

+--------+----------------+
|Embarked|Embarked_indexed|
+--------+----------------+
|       S|             0.0|
|       C|             1.0|
|       S|             0.0|
+--------+----------------+
only showing top 3 rows

In [18]:
catVarsIndexed = [i+'_indexed' for i in catVars]
featuresCol = numVars+catVarsIndexed
featuresCol.remove('Survived')
labelCol = ['Mark','Survived']
 
from pyspark.sql import Row
from pyspark.mllib.linalg import DenseVector
row = Row('mark','label','features')
 
df_indexed = df_indexed[labelCol+featuresCol]
# 0-mark, 1-label, 2-features
# map features ke DenseVector
lf = df_indexed.rdd.map(lambda r: (row(r[0], r[1],DenseVector(r[2:])))).toDF()
# index label
# mengonversi label numerik ke ketegori yang dibutuhkan untuk dt dan rf
lf = StringIndexer(inputCol = 'label',outputCol='index').fit(lf).transform(lf)
 
lf.show(3)

+-----+-----+--------------------+-----+
| mark|label|            features|index|
+-----+-----+--------------------+-----+
|train|  0.0|[22.0,1.0,0.0,7.2...|  0.0|
|train|  1.0|[38.0,1.0,0.0,71....|  1.0|
|train|  1.0|[26.0,0.0,0.0,7.9...|  1.0|
+-----+-----+--------------------+-----+
only showing top 3 rows

In [26]:
train = lf.where(lf.mark =='train')
test = lf.where(lf.mark =='test')
 
# random split yang untuk mendapakan train/validate
train,validate = train.randomSplit([0.7,0.3],seed =121)
 
print ('Train Data: '+ str(train.count()))
print ('Validate Data: '+ str(validate.count()))
print ('Test Data: '+ str(test.count()))

Train Data: 636
Validate Data: 255
Test Data: 418

In [36]:
# Logsitic Regression
from pyspark.ml.classification import LogisticRegression

# regPara: regualrization parameter
#lr = LogisticRegression(maxIter = 100, regParam = 0.05, labelCol='index').fit(train)

# Menggunakan model evaluasi auc ROC(default buat binary classification)
from pyspark.ml.evaluation import BinaryClassificationEvaluator

def testModel(model, validate = validate):
    pred = model.transform(validate)
    evaluator = BinaryClassificationEvaluator(labelCol = 'index')
    return evaluator.evaluate(prod)

In [39]:
# DT dan RF
from pyspark.ml.classification import DecisionTreeClassifier, RandomForestClassifier

#dt = DecisionTreeClassifier(maxDepth = 3, labelCol ='index').fit(train)
#rf = RandomForestClassifier(numTrees = 100, labelCol = 'index').fit(train)
#models = {'LogisticRegression':lr,
#          'DecistionTree':dt,
#          'RandomForest':rf}
 
#modelPerf = {k:testModel(v) for k,v in models.iteritems()}
 
#print (modelPerf)